<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
    <!-- Bootstrap -->
    <!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container" ng-controller="DishDetailController">
    <!--///// assignment 1 ////-->
    <div class="row">
        <div class="col-xs-12">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             ng-src={{dish.image}} alt="Uthappizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span></h2>
                    <p>{{dish.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr/>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <div class="col-xs-12 col-sm-4">
                <h3 style="margin-top:0!important">Customer comments</h3>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="sort">Sort by: </label>
                <input id="sort" ng-model="sortType"/>
            </div>
            <div class="col-xs-12">
                <ul class="list-unstyled">
                    <li ng-repeat="comment in dish.comments | orderBy : sortType">
                        <blockquote>
                            <p>{{comment.rating}} Stars!</p>
                            <p>{{comment.comment}}</p>
                            <footer><cite>{{comment.author}}, <strong>{{comment.date | date: 'MMM. dd, yyyy'}}</strong></cite>
                            </footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--////// assignment 2 //////-->
    <div ng-controller="DishCommentController">
        <div class="col-xs-9 col-xs-offset-1">
            <div id="preview" ng-show="commentForm.$valid && !commentForm.$pristine">
                <ul class="list-unstyled">
                    <li>
                        <blockquote>
                            <p>{{formComment.rating}} Stars!</p>
                            <p>{{formComment.comment}}</p>
                            <footer><cite>{{formComment.author}}</cite>
                            </footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12">
            <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" role="form" novalidate>
                <div class="form-group has-feedback"
                     ng-class="{ 'has-error has-feedback' : commentForm.author.$invalid && !commentForm.author.$pristine }">
                    <label for="author" class="col-sm-3 control-label">Your name</label>
                    <div class="col-sm-9">
                        <input type="text" id="author" name="author" class="form-control" placeholder="Name"
                               ng-model="formComment.author"
                               required/>
                    <span ng-show="commentForm.author.$invalid && !commentForm.author.$pristine"
                          class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="(commentForm.author.$invalid ||
                                        commentForm.author.$error.required) &&
                                        !commentForm.author.$pristine"
                          class="help-block">Please, enter a name</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Number of stars</label>
                    <div class="radio col-sm-9">
                        <label>
                            <input type="radio" ng-model="formComment.rating" value="1"
                                   aria-label="...">
                            1
                        </label>
                        <label>
                            <input type="radio" ng-model="formComment.rating" value="2"
                                   aria-label="...">
                            2
                        </label>
                        <label>
                            <input type="radio" ng-model="formComment.rating" value="3"
                                   aria-label="...">
                            3
                        </label>
                        <label>
                            <input type="radio" ng-model="formComment.rating" value="4"
                                   aria-label="...">
                            4
                        </label>
                        <label>
                            <input type="radio" ng-model="formComment.rating" value="5"
                                   aria-label="...">
                            5
                        </label>
                    </div>
                </div>

                <div class="form-group has-feedback"
                     ng-class="{'has-error has-feedback' : commentForm.comment.$invalid && !commentForm.comment.$pristine }">
                    <label for="comment" class="col-sm-3 control-label">Your comments</label>
                    <div class="col-sm-9">
                        <textarea id="comment" name="comment" rows="10" placeholder="Comment" class="form-control"
                                  ng-model="formComment.comment" required/>
                        </textarea>
                    <span ng-show="commentForm.comment.$invalid && !commentForm.comment.$pristine"
                          class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="(commentForm.comment.$invalid ||
                                        commentForm.comment.$error.required) &&
                                        !commentForm.comment.$pristine"
                          class="help-block">Please, enter a comment</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button ng-disabled="commentForm.$invalid" type="submit" class="btn btn-primary"><strong>Submit
                            Comment</strong></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- build:js scripts/main.js -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="scripts/app.js"></script>
<!-- endbuild -->

</body>

</html>
