<div class="container" ng-controller="IndexController">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Our Lipsmacking Culinary Creations</h3>
        </div>
        <!--////// task 4 //////-->
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div class="media">
                <div class="media-left media-middle">
                    <a ui-sref="app.dishdetails({id: featuredDish._id})">
                        <img class="media-object img-thumbnail"
                             src="{{featuredDish.image}}" alt="{{featuredDish.name}}">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{featuredDish.name}} <span class="label label-danger">{{featuredDish.label}}</span> <span
                            class="badge">{{featuredDish.price}}</span></h2>
                    <p>{{featuredDish.description}}</p>
                    <p><a class="btn btn-primary btn-xs" ui-sref="app.dishdetails({id: featuredDish._id})">More &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
            <h3 align=center>This Month's Promotions</h3>
        </div>
        <!--////// task 4 //////-->
        <div class="col-xs-12 col-sm-9">
            <div class="media">
                <div class="media-body">
                    <h2>{{featuredPromotion.name}} <span
                            class="label label-danger">{{featuredPromotion.label}}</span> <span
                            class="badge">{{featuredPromotion.price}}</span></h2>
                    <p>{{featuredPromotion.description}}</p>
                    <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                </div>
                <div class="media-right media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             src="{{featuredPromotion.image}}" alt="{{featuredPromotion.name}}">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Meet our Culinary Specialists</h3>
        </div>
        <!--////// task 4 //////-->
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             src="{{executiveChef.image}}" alt="{{executiveChef.name}}">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{executiveChef.name}}</h2>
                    <h4>{{executiveChef.designation}}</h4>
                    <p>{{executiveChef.description}}
                    </p>
                    <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
